@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
header{
    animation: opacity 2s 1;
}
nav > a{
    display: block;
    margin: -128px 0px 0px 164px;
    font: 400 normal 18px "Inter";
    text-underline-offset: 7px;
    color: black;
    transition: 0.5s;
}
nav > a:hover{
    opacity: 0.5;
}
nav > img{
    display: block;
    margin: 30px auto -60px auto;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.página-1{
    animation: opacity 2s 1;
    display: flex;
    margin: 125px auto 200px auto;
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}
.página-1 > .página-1-a{
    width: 415px;
}
.página-1 > .página-1-a > h1{
    font: 700 normal 60px "Inter";
    margin-bottom: 7.5px;
}
.página-1 > .página-1-a > .crp-1{
    font: 400 normal 18px "Inter";
    margin-bottom: 50px;
}
.página-1 > .página-1-a > p{
    width: 67vh;
    font: 400 normal 28px "Inter";
}
.página-1 > .página-1-a > .texto-1{
    margin-bottom: 60px;
    width: 67vh;
    font: 400 normal 28px "Inter";
    line-height: 36px;
}
.página-1 > .página-1-a > a{
    padding: 18.5px 30px;
    border-radius: 10px;
    font: 400 normal 19px "Inter";
    text-decoration: none;
    color: white;
    background-color: #404E34;
    transition: 0.2s;
}
.página-1 > .página-1-a > a:hover{
    background-color: #00A241;
}
.página-1 > .página-1-b > .círculo{
    width: 300px;
    position: absolute;
    border-radius: 100%;
    height: 300px;
    top: 500px;
    right: 200px;
    z-index: -1;
    background-color: #404E34;
    opacity: 0.6;
}
.página-1 > .página-1-b > img{
    display: block;
    margin: 50px auto 50px auto;
    width: 500px;
    border-radius: 100%;
}
.página-2 > .página-2-a{
    animation: opacity 2s 1;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background-color: #8C9484;
    margin: -200px 0px 100px 0px;
    gap: 20px;
}
.página-2 > .página-2-a > article{
    margin-top: 50px;
    margin-bottom: 125px;
    width: 400px;
}
.página-2 > .página-2-a > article > h2{
    margin-bottom: 40px;
    font: 600 normal 36px "Inter";
}
.página-2 > .página-2-a > article > p{
    margin-bottom: 70px;
    text-align: justify;
    font: 400 normal 18px "Inter";
    line-height: 27px;
}
.página-2 > .página-2-a > img{
    margin-top: -40px;
    width: 450px;
}
.página-2-a > .img-cell-1{
    display: none;
}
.página-2 > .página-2-a > article > a{
    border-radius: 10px;
    padding: 18.5px 30px;
    text-decoration: none;
    color: white;
    background-color: #404E34;
    font: 400 normal 19px "Inter";
    transition: 0.2s;
}
.página-2 > .página-2-a > article > a:hover{
    background-color: #00A241;
}
.página-3 > .página-3-a{
    animation: opacity 2s 1;
    margin: -150px 0px 100px 0px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background-color: white;
    gap: 20px;
}
.página-3 > .página-3-a > article{
    margin-top: 50px;
    width: 400px;
}
.página-3 > .página-3-a > article > h2{
    margin-bottom: 40px;
    font: 600 normal 36px "Inter";
}
.página-3 > .página-3-a > article > p{
    margin-bottom: 70px;
    text-align: justify;
    font: 400 normal 18px "Inter";
    line-height: 27px;
}
.página-3 > .página-3-a > img{
    margin-top: 50px;
    width: 400px;
    border-radius: 10px;
}
.página-3 > .página-3-a > article > a{
    border-radius: 10px;
    padding: 18.5px 30px;
    font: 400 normal 19px "Inter";
    text-decoration: none;
    color: white;
    background-color: #404E34;
    transition: 0.2s;
}
.página-3 > .página-3-a > article > a:hover{
    background-color: #00A241;
}
.página-4 > .página-4-a{
    animation: opacity 2s 1;
    margin: -40px 0px 100px 0px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background-color: #8C9484;
    gap: 20px;
}
.página-4 > .página-4-a > article{
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.página-4 > .página-4-a > article > h2{
    margin-bottom: 40px;
    font: 600 normal 36px "Inter";
}
.página-4 > .página-4-a > article > p{
    margin-bottom: 70px;
    font: 400 normal 18px "Inter";
    text-align: justify;
    line-height: 27px;
}
.página-4 > .página-4-a > img{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
    border-radius: 50%;
}
.página-4 > .página-4-a > .img-cell-2{
    display: none;
}
.página-4 > .página-4-a > article > a{
    padding: 18.5px 30px;
    border-radius: 10px;
    font: 400 normal 19px "Inter";
    text-decoration: none;
    color: white;
    background-color: #404E34;
    transition: 0.2s;
}
.página-4 > .página-4-a > article > a:hover{
    background-color: #00A241;
}
.página-5 > .página-5-a{
    animation: opacity 2s 1;
    margin-top: -75px;
    margin-bottom: 30px;
}
.página-5 > .página-5-a > article{
    margin: auto;
    width: 80vw;
}
footer > p{
    margin-bottom: 20px;
    font: normal 300 1em "Inter";
    text-align: center;
}
footer > div{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
footer > div > a > img{
    width: 25px;
}
footer > .crp-2{
    margin-top: -15px;
    font: normal 300 0.8em "Inter";
}
@media screen and (max-width: 1350px){
    .página-1 > .página-1-b > .círculo{
        display: none;
    }
    .página-1 > .página-1-a{
        text-align: center;
    }
}
@media screen and (max-width: 869px) {
    .página-2 > .página-2-a > img{
        margin-top: 50px;
    }
}
@media screen and (max-width: 849px){
    nav > a{
        display: none;
    }
    nav > img{
        width: 150px;
    }
    .página-1 > .página-1-a > h1{
        font-size: 50px;
    }
    .página-1 > .página-1-a > .crp-1{
        font-size: 15px;
        width: auto;
    }
    .página-1 > .página-1-a > .texto-1{
        font-size: 22px;
        width: auto;
    }
    .página-1 > .página-1-a > a{
        font-size: 17px;
    }
    .página-1 > .página-1-b > img{
        width: 400px;
    }
    .página-2 > .página-2-a{
        gap: 0px;
    }
    .página-2 > .página-2-a > article > h2{
        font-size: 32px;
    }
    .página-2 > .página-2-a > article > p{
        font-size: 16px;
    }
    .página-2 > .página-2-a > article > a{
        font-size: 17px;
    }
    .página-2 > .página-2-a > img{
        display: none;
        width: 400px;
        margin-top: -50px;
    }
    .página-2 > .página-2-a > .img-cell-1{
        display: block;
        margin-bottom: 80px;
    }
    .página-3 > .página-3-a > article > h2{
        font-size: 32px;
    }
    .página-3 > .página-3-a > article > p{
        font-size: 16px;
    }
    .página-3 > .página-3-a > article > a{
        font-size: 17px;
    }
    .página-3 > .página-3-a > img{
        width: 350px;
    }
    .página-4 > .página-4-a > article > h2{
        font-size: 32px;
    }
    .página-4 > .página-4-a > article > p{
        font-size: 16px;
    }
    .página-4 > .página-4-a > article > a{
        font-size: 17px;
    }
    .página-4 > .página-4-a > img{
        display: none;
        width: 400px;
    }
    .página-4 > .página-4-a{
        gap: 0px;
    }
    .página-4 > .página-4-a > img{
        display: none;
        margin-top: 25px;
    }
    .página-4 > .página-4-a > .img-cell-2{
        display: block;
    }
    footer{
        font-size: 0.94em;
    }
}
@media screen and (max-width: 420px){
    nav > img{
        width: 135px;
    }
    .página-1 > .página-1-a > h1{
        font-size: 45px;
    }
    .página-1 > .página-1-a > .crp-1{
        font-size: 14px;
    }
    .página-1 > .página-1-a > .texto-1{
        font-size: 17px;
    }
    .página-1 > .página-1-a > a{
        font-size: 14px;
    }
    .página-1 > .página-1-b > img{
        width: 295px;
    }
    .página-2 > .página-2-a > article > h2{
        padding: 0px 20px 0px 20px;
    }  
    .página-2 > .página-2-a > article > p{
        font-size: 14px;
        width: auto;
        padding: 0px 20px 0px 20px;
    }
    .página-2 > .página-2-a > article > a{
        font-size: 14px;
        margin: 0px 20px 0px 20px;
    }
    .página-2 > .página-2-a > img{
        display: none;
        width: 294px;
        margin-top: -50px;
    }
    .página-3 > .página-3-a > article > h2{
        padding: 0px 20px 0px 20px;
    }  
    .página-3 > .página-3-a > article > p{
        font-size: 14px;
        width: auto;
        padding: 0px 20px 0px 20px;
    }
    .página-3 > .página-3-a > article > a{
        font-size: 14px;
        margin: 0px 20px 0px 20px;
    }
    .página-3 > .página-3-a > img{
        width: 294px;
    }
    .página-4 > .página-4-a > article > h2{
        padding: 0px 20px 0px 20px;
    }  
    .página-4 > .página-4-a > article > p{
        font-size: 14px;
        width: auto;
        padding: 0px 20px 0px 20px;
    }
    .página-4 > .página-4-a > article > a{
        font-size: 14px;
        margin: 0px 20px 0px 20px;
    }
    .página-4 > .página-4-a > img{
        width: 294px;
        margin-top: 25px;
    }
    footer{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 300px) {
    .página-1 > .página-1-b > img{
        width: 260px;
    }
    .página-2 > .página-2-a > img{
        width: 260px;
    }
    .página-3 > .página-3-a > img{
        width: 250px;
    }
    .página-4 > .página-4-a > img{
        width: 260px;
    }
}
@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}